---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/me.jpg"
>
  <h2>Personal Infomation</h2>
  <p>
    My name is Till Wegener and im a Software Engineer from Germany. I love tech
    and everything related to it. When im not busy working or studying i like to
    play video games or work on my personal projects. I enjoy working with new
    technologies and learning new things. You can read more about my finished
    personal projects <a href="/project">here</a>. You can also find my thoughts
    about tech and other projects im currently working on <a href="/blog"
      >here</a
    >.
  </p>

  <h2>Education and Workhistory</h2>
  <p>
    I'm currently enrolled in a dual study program at the Rhine-Waal University
    of Applied Sciences in Kamp-Lintfort. Besides studying i currently work for <a
      href="https://www.mineralstech.com">Minerals Technologies</a
    > in reasearch and development as a Software Engineer. As of October 2023 I
    am currently working on my Bachelor's degree in the field of Computer
    Science. In the years from 2020 to 2023 I finished my apprenticeship as an
    software Developer for desktop applications at <a
      href="https://www.hksinformatik.de/">HKS Informatik GMBH.</a
    >
  </p>
  <h2>Skills</h2>
  <p>
    Over the course of my work history and education i have been fortunate
    enough to work with a wide variety of technologies. Throught this I
    developed software for the following platforms and technologies:

    <h4>Desktop Apps</h4>
    <ul>
      <li>Delphi / Pascal</li>
      <li>C++</li>
      <li>Python</li>
      <li>QT</li>
      <li>Java</li>
      <li>Rust</li>
    </ul>
    <h4>Game Development</h4>
    <ul>
      <li>Unity</li>
      <li>Custom OpenGL Solutions</li>
    </ul>
    <h4>Mobile Apps</h4>
    <ul>
      <li>Flutter</li>
    </ul>
    <h4>Web Apps</h4>
    <ul>
      <li>Vanilla HTML/JS/CSS</li>
      <li>Angular</li>
      <li>React</li>
    </ul>
    <h4>Embedded development</h4>
    <ul>
      <li>Arduino</li>
      <li>Raspberry Pi</li>
    </ul>

    <h4>Non-Devlopment Skills</h4>
    <p>
      Due to my degree's focus on media informatics i also have a good
      understanding of the following topics:
    </p>
    <ul>
      <li>Human-Computer interactions</li>
      <li>Usability Engineering</li>
      <li>Graphic Design</li>
    </ul>
  </p>
</Layout>
