---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} slot="head" />
  <div class="min-h-full">
    <h1 class="text-center">Welcome to my Website!👋</h1>
  </div>
</BaseLayout>
