---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { class: className, ...props } = Astro.props;
---

<div class={"rounded-2xl absolute opacity-50 blur-[350px]" + " " + className}>
</div>
