---
import HeaderLink from "./HeaderLink.astro";
const links = [
  {
    link: "uni",
    label: "Uni",
  },
  {
    link: "projects",
    label: "Projects",
  },
  {
    link: "",
    label: "Home",
  },
  {
    link: "blog",
    label: "Blog",
  },
  {
    link: "about",
    label: "Me",
  },
];
---

<header>
  <nav>
    {
      links.map((link) => {
        return (
          <div class="flex justify-center">
            <HeaderLink href={"/" + link.link}>{link.label}</HeaderLink>
          </div>
        );
      })
    }
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
  }
  .clearfilter {
    text-shadow: none;
  }

  nav {
    flex-basis: 1 1 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  nav > * {
    flex: 1;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--gray-light);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
