---
import BaseHead from "../../components/BaseHead.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const SITE_TITLE = "Projects";
const SITE_DESCRIPTION = "All of my Projects";
---

<BaseLayout>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} slot="head" />
  <h1 class="text-center">ToDo</h1>
</BaseLayout>
