---
import BaseHead from "../components/BaseHead.astro";
import BaseLayout from "./BaseLayout.astro";

const { CourseName, CourseInitials } = Astro.props;
---

<BaseLayout>
  <BaseHead
    title={"Uni - " + CourseInitials}
    description={"All of Material for the course " + CourseName}
    slot="head"
  />
  <h1 class="text-center">{CourseName}</h1>
</BaseLayout>
