---
import BaseHead from "../components/BaseHead.astro";
import BaseLayout from "./BaseLayout.astro";

const { CourseName, CourseInitials, CourseFinalLink } = Astro.props;
---

<BaseLayout>
  <BaseHead
    title={"Uni - " + CourseInitials}
    description={"All of Material for the course " + CourseName}
    slot="head"
  />
  <h1 class="text-center">{CourseName}</h1>

  <details>
    <summary
      ><h4 class="cursor-pointer text-center">Assignments (click to Open)</h4>
    </summary>
    <slot name="list" />
  </details>
  <a href={CourseFinalLink}>
    <h4 class="cursor-pointer text-center">Final Project</h4>
  </a>
</BaseLayout>
<style>
  details summary::-webkit-details-marker {
    display: none;
  }
  ::marker {
    display: none;
  }
  summary {
    list-style: none;
  }
</style>
